body {
	background-color: #070B17;
	justify-content: center;
	
	font-family: 'Roboto';
	font-size: 20px;
	color: #ffffff;
	text-align: center;
}
@keyframes ani-up {
	from { bottom:-50px; opacity:0; }
	to { bottom:0; opacity:1; }
}
@keyframes ani-down {
	from { top:-50px; opacity:0; }
	to { top:0; opacity:1; }
}
@keyframes ani-left {
	from { right:-50px; opacity:0; }
	to { right:0; opacity:1; }
}
@keyframes ani-right {
	from { left:-50px; opacity:0; }
	to { left:0; opacity:1;	}
}
.navbar {
	background-color: #121B37;
	box-shadow: 0px 1px 10px #000000;
	width: 101.6%;
	position: sticky;
	z-index: 10;
	top: 0px;
	margin: -1% -1% 0% -1%;
	
	font-size: 25px;
	color: #ffffff;
	text-align: right;
	padding-top: 1%;
	padding-bottom: .5%;
}
.navbar-text{
	float: left;
	margin: auto auto auto 2%;
	line-height: normal;
}
.iacademy-shs {
	width: auto;
	margin-left:auto;
	margin-right: auto;
}
.heading {
	width: 65%;
	height: 300px;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	line-height: 0;
}
h1 {
	font-family: 'Roboto';
	font-size: 60px;
	line-height: 60px;
	letter-spacing: 16px;
	text-transform: uppercase;
	margin-top: auto;
	margin-bottom: -70px;
	margin-left: 50px;
}
h2 {
	font-family: 'Roboto Black';
	font-size: 75px;
	color: #3668ff;
	line-height: 75px;
	letter-spacing: 9.5px;
	text-transform: uppercase;
	margin-bottom: -30px;
	margin-left: 50px;
}
h3 {
	font-family: 'Roboto';
	font-size: 25px;
	line-height: 25px;
	letter-spacing: 6.5px;
	text-transform: uppercase;
	margin-bottom: 0px;
	margin-left: 50px;
}
h4 {
	font-family: 'Roboto Black';
	font-size: 50px;
	color: #3668ff;
	text-align: center;
	line-height: 0px;
	letter-spacing: 9.5px;
	text-transform: uppercase;
	margin-top: -15px;
	margin-bottom: -15px;

}
h5 {
	font-family: 'Roboto';
	font-size: 40px;
	text-align: center;
	line-height: 0px;
	letter-spacing: 6.5px;
	margin-top: 5%;
	margin-bottom: 5%;
}
h6 {
	font-family: 'Roboto Medium';
	font-size: 35px;
	text-align: center;
	line-height: 0px;
	letter-spacing: 5px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.hexagon-top {
	width: 0;
	border-bottom: 75px solid #22356d;
	border-left: 130px solid transparent;
	border-right: 130px solid transparent;
}
.hexagon-mid {
	width: 260px;
	height: 150px;
	background-color: #22356d;
	overflow: visible;
	text-transform: uppercase;
	text-align: left;
	line-height: 0;
	white-space: nowrap;
}
.hexagon-bot {
	width: 0;
	border-top: 75px solid #22356d;
	border-left: 130px solid transparent;
	border-right: 130px solid transparent;
}
.header-container {
	background: linear-gradient(0deg, rgba(0, 10, 41, 0.65), rgba(0, 10, 41, 0.65)), url("img/header.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #010e36;
	width: 101.6%;
	height: 90%;
	float: center;
	margin: 0% -1% 5% -1%;
	padding-top: 2.5%;
	padding-bottom: 5%;
	overflow: auto;
	
}
.works-container{
	background-color: #0e1427;
	box-shadow: 0px 0px 5px 1px inset #0d0d0d;
	width: 101.6%;
	height: auto;
	float: center;
	margin: 0% -1% -1% -1%;
	padding-top: 1%;
	padding-bottom: 2.5%;
}
.works-da {
	border-radius: 15px;
	padding: 10px;
	height: 200px;
	margin: auto;
	position: relative;
}
.works-ua {
	border-radius: 15px;
	padding: 10px;
	height: 200px;
	margin: auto;
	position: relative;
}
.works-db {
	border-radius: 15px;
	padding: 10px;
	height: 200px;
	margin: auto;
	position: relative;
}
.works-ub {
	border-radius: 15px;
	padding: 10px;
	height: 200px;
	margin: auto;
	position: relative;
}
.works-r {
	border-radius: 15px;
	padding: 10px;
	height: 200px;
	margin: auto;
	position: relative;
}
.works-l {
	border-radius: 15px;
	padding: 10px;
	height: 200px;
	margin: auto;
	position: relative;
}
@media (prefers-reduced-motion: no-preference) {
	.up {
		animation: ani-up 1s 1;
	}
	.down {
		animation: ani-down 1s 1;
	}
	.right {
		animation: ani-left 1s 1;
	}
	.left {
		animation: ani-right 1s 1;
	}
}
.course {
	margin-left: 20%;
	margin-right: auto;
	width: 80%;
	font-size: 16px;
	text-align: left;
	line-height: 200%;
}
.courses-text{
	width: 60%;
}
.courses-image {
	background-color: #010e36;
	width: 40%;
	height: 100%;
	float: right;
	margin-top: -300px;
	margin-bottom: -300px;
}
.courses-container {
	width: 101.6%;
	float: center;
	margin: -1% -1% -1% -1%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	overflow: hidden;
}
.job {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	font-size: 16px;
	line-height: 200%;
}
.jobs-container {
	background: linear-gradient(0deg, rgba(0, 10, 41, 0.75), rgba(0, 10, 41, 0.75)), url("img/job.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-color: #010e36;
	width: 101.6%;
	float: center;
	margin: 1% -1% 0% -1%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}
.apply-elements {
	height: auto;
	margin-top: -2%;
	margin-bottom: 2%;
}
.apply-container {
	background: linear-gradient(0deg, rgba(0, 10, 41, 0.75), rgba(0, 10, 41, 0.75)), url("img/apply.png");
	background-repeat: no-repeat;
	background-position: bottom;
	background-attachment: fixed;
	background-size: 100%;
	background-color: #010e36;
	width: 101.6%;
	float: center;
	margin: 2.5% -1% 1% -1%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}
p {
	margin-left: 15%;
	margin-right: 15%;
	line-height: 225%;
}
button {
	background-color: #3668ff;
	border-radius: 50px;
	border-style: none;
	padding: 1% 2% 1% 2%;
	margin-top: -20px;
	font-family: 'Roboto';
	font-size: 25px;
	color: #ffffff;
	transition: ease-in-out .25s;
}
button:hover {
	background-color: #ffffff;
	border-radius: 50px;
	border-style: none;
	padding: 1% 2% 1% 2%;
	margin-top: -20px;
	font-family: 'Roboto';
	font-size: 25px;
	color: #3668ff;
	transition: ease-in-out .25s;
}

